// Main Colors
$primary_color: #359df3;
$danger_color: #f82d71;
$default_color: #2f3436;
$gray_color: #f5f5f5;
$empty_zone: #24292c;

.text-primary {
    color: $primary_color;
}
.text-primary-darken {
    color: darken($primary_color, 35%);
}
.text-primary-lighten {
    color: lighten($primary_color, 35%);
}
.text-default {
    color: $default_color;
}
.text-default-lighten {
    color: lighten($default_color, 35%);
}
.text-default-ultraLighten {
    color: lighten($default_color, 55%);
}

.bg-gray {
    background: $gray_color;
}
.bg-primary {
    background: $primary_color;
}
.bg-danger {
    background: $danger_color;
}
