$divider_size: 10px;

.divider-b {
    border-bottom: $divider_size solid lighten(black, 96%);
}
.divider-t {
    border-top: $divider_size solid lighten(black, 96%);
}

.divider-xs-b {
    border-bottom: 1px solid lighten(black, 96%);
}
.divider-xs-t {
    border-top: 1px solid lighten(black, 96%);
}