/*========================================================
        Begin:For Persian
=========================================================*/
@font-face {
  font-family: sans-bold;
  src: url('~assets/fonts/IRANSansMobile_Bold.ttf'),
       url('~assets/fonts/IRANSansMobile_Bold.eot'),
       url('~assets/fonts/IRANSansMobile_Bold.woff');
}
@font-face {
  font-family: sans-light;
  src: url('~assets/fonts/IRANSansMobile_Light.ttf'),
       url('~assets/fonts/IRANSansMobile_Light.eot'),
       url('~assets/fonts/IRANSansMobile_Light.woff');
}
@font-face {
  font-family: sans-ulrtalight;
  src: url('~assets/fonts/IRANSans_Light.ttf');
}

* {
  direction: rtl;
}

b, strong {
  font-family: sans-bold;
}

h1, h2 {
  font-family: sans-bold;
  font-weight: 800;
}

h3, h4, h5, h6 {
  font-family: sans-light;
  font-weight: 600;
}

html, body, head, div, p, a, li, pre, td, del, input, ol, ul, button {
  font-family: sans-light;
  font-weight: 100;
}

.text-thin {
  font-family: sans-light !important;
  font-weight: 100 !important;
}
.text-ultra-thin {
  font-family: sans-ulrtalight !important;
}

/*========================================================
        End:For Persian
=========================================================*/

.en {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 200;
}
