/*========================================================
        Begin:For Persian
=========================================================*/
@font-face {
  font-family: sans-ultraLight;
  src: url('~assets/fonts/IRANSansMobile_UltraLight.ttf');
}
@font-face {
  font-family: sans-light;
  src: url('~assets/fonts/IRANSansMobile_Light.ttf');
}
@font-face {
  font-family: sans-medium;
  src: url('~assets/fonts/IRANSansMobile_Medium.ttf');
}
@font-face {
  font-family: sans-bold;
  src: url('~assets/fonts/IRANSansMobile_Bold.ttf');
}
@font-face {
  font-family: sans-number;
  src: url('~assets/fonts/IRANSansMobile_Number.ttf'),
       url('~assets/fonts/IRANSansMobile_Number.eot'),
       url('~assets/fonts/IRANSansMobile_Number.woff');
}

* {
  direction: rtl;
}

h1, h2, b, strong {
  font-family: sans-bold;
  font-weight: 800;
}

h3, h4, h5, h6 {
  font-family: sans-medium;
  font-weight: 600;
}

html, body, head, div, p, a, li, pre, td, del, ol, ul, button {
  font-family: sans-light;
}

.sans-ultra-light {
  font-family: sans-ultraLight;
}

.sans-number, input {
  font-family: sans-number !important;
  font-weight: 100 !important;
}

/*========================================================
        End:For Persian
=========================================================*/

.en {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 200;
}
