footer {
    @apply fixed w-full left-0 bottom-0 right-0;
    box-shadow: 0 -1px 12px 0 lighten($default_color, 68%);
  
    #category {
      @apply text-center cursor-pointer py-2 text-xs xs:text-sm #{!important};
  
      span {
        @apply relative;
        top: -5px;
      }
    }
  
    .foot-icons {
      @apply relative text-default-lighten cursor-pointer;
  
      > i {
        @apply relative;
        top: 10px;
      }
    }
  }