@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

button {
  &:hover, &:focus, &:active, &:disabled {
    outline: none;
  }

  &:disabled {
    @apply bg-gray-300 #{!important};
  }
}

.bannet-btn {
  @apply rounded-md text-center outline-none border-none text-white pt-3 pb-2 px-6;
  width: inherit;

  &:focus, &:hover, &:active {
    @apply outline-none border-none;
  }

  i {
    @apply relative;
    top: 1px;
  }

  .spinner {
      width: 20px;
      height: 20px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      -webkit-animation: sk-rotate 2.0s infinite linear;
      animation: sk-rotate 2.0s infinite linear;

      .dot1, .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        border-radius: 100%;
        color: white;
        background: white;
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }
      
      .dot2 {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
    }
}
  