$border_size: 1px;

.input-text-color {
    color: lighten($default_color, 35%);
}

.default-input-config {
    @apply relative rounded-lg;
    width: inherit;
    outline: none;
    border: $border_size solid lighten($default_color, 70%);
    transition: all .23s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .23s ease-out;
    -ms-transition: all .23s ease-out;
    -o-transition: all .23s ease-out;
}

.label {
    @apply block mb-2 px-4;
    color: lighten($default_color, 5%);
}

.input-text-area {
    @apply relative;

    > label {
        @apply label;
    }

    > input, textarea {
        @apply default-input-config input-text-color pb-2 pt-3 px-2;
        
        &:hover, &:valid {
            border: $border_size solid $primary_color;
            box-shadow: -1px -2px 5px 2px whitesmoke,
                        1px -2px 5px 2px whitesmoke,
                        0 1px 2px 0 lighten($primary_color, 40%),
                        0 0 4px 0 lighten($primary_color, 70%);
        }
    }

    > textarea {
        @apply overflow-hidden;
        min-height: 130px;
    }
    
}

.search-input {
    @apply default-input-config py-3;
    width: inherit;
    outline: none;

    &:hover {
        border: $border_size solid $primary_color;
    }

    + label {
        @apply absolute;
        top: 28px;
        right: 23px;
    }

    &:hover + label,  &:hover + label > * {
        color: $primary_color;
    }
}




