.swiper-card {

    @apply w-full shadow-lg bg-white mx-auto bottom-0 left-0 right-0 z-50 fixed;

    .swip-action {
        @apply w-full px-10 py-5 relative;

        &::after {
            @apply w-16 rounded-full bg-gray-300 shadow-sm h-1 inset-0 mx-auto absolute;
            content: "";
            top: 10px;
            height: 5px;
        }
    }
}