$border_size: 1px;

.input-text-area {
    @apply relative;

    label {
        @apply block mb-2 px-4;
        color: lighten($default_color, 40%);
    }

    input {
        @apply relative pb-2 pt-3 px-2 rounded-lg;
        width: inherit;
        outline: none;
        border: $border_size solid lighten($default_color, 70%);
        color: lighten($default_color, 35%);
        transition: all .23s ease-out;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .23s ease-out;
        -ms-transition: all .23s ease-out;
        -o-transition: all .23s ease-out;
        
        &:hover, &:valid {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    
    input:hover + .input-border, input:valid + .input-border, .input-border-active {
        @apply w-full #{!important};
    }

    .input-border {
        @apply w-0 block absolute left-0 right-0 mx-auto z-10;
        height: $border_size + 1;
        transition: all .25s ease-out;
    }

    .input-border-warning {
        @apply w-full bg-danger text-white text-xs pt-5 #{!important};
        height: 42px !important;
    }

    
}




